<%- include('include/headerConnect') -%>

<div class="d-flex justify-content-center">
    <h4>Historique de vos fiches</h4>
</div>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Statut</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
    <% fichedefrais.forEach(function(laFichedefrais){ %>
      <tr>
        <td><%= moment(laFichedefrais.dateDebut).format("MMMM YYYY") %></td>
        <td><%= laFichedefrais.etat %></td>
        <td><a href="/pageDetail/<%- laFichedefrais._id -%>"><i>Détail</i> </a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>

<%- include('include/footer') -%>