<%- include('include/headerConnect') -%>

    <!--Frais forfaitises-->
    <h4>Frais forfaitisés <%= moment(user.fichedefrais.dateDebut).format("MMMM YYYY") %>
    </h4>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th scope="col"><a href="/upForfaitise"><i>Modifier</i></a></th>
                <th scope="col">Libelle</th>
                <th scope="col">Quantite</th>
            </tr>
        </thead>
        <tbody>
            <% forfaitise.forEach(function(uneForfaitise){ %>
                <tr>
                    <td>

                    </td>
                    <td>
                        <%= uneForfaitise.libelle %>
                    </td>
                    <td>
                        <%= uneForfaitise.quantite %>
                    </td>
                </tr>
                <% }); %>
        </tbody>
    </table>
    <br>
    <!--Frais hors forfaits-->
    <h4>Frais hors forfait
    </h4>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Action</th>
                <th scope="col">Date</th>
                <th scope="col">Libelle</th>
                <th scope="col">Quantite</th>
            </tr>
        </thead>
        <tbody>
            <% horsForfait.forEach(function(unHorsForfait){ %>
                <tr>
                    <td>
                        <a href="/modifierHorsforfait/<%- unHorsForfait._id -%>"><i>Modifier</i></a>
                    </td>
                    <td>
                        <%= moment(unHorsForfait.date).format("DD-MM-YYYY") %>
                    </td>
                    <td>
                        <%= unHorsForfait.libelle %>
                    </td>
                    <td>
                        <%= unHorsForfait.prix %> €
                    </td>
                </tr>
                <% }); %>
        </tbody>
    </table>


    <br>
    <div class="d-flex justify-content-center">
        <a class="btn btn-outline-secondary" href="/pageAddHf">Ajouter un frais hors forfait</a>
    </div>
    <br>



    <%- include('include/footer') -%>